/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Danfo&family=Tiny5&display=swap'); */
/* 
.p1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.p2 {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.p3 {
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "ELSH" 0;
} */


@font-face {
    font-family: "font 1";
    src: url(/font/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'font 2';
    src: url(/font/Updock/Updock-Regular.ttf);
}

.p1{
    font-family: "font 1";
}
.p2{
    font-family: "font 2";
}
